 <div class="article-list">
    <div class="container">
      <div class="intro">
        <h2 id=title class="text-center">{{'index.bienvenue'|translate}}</h2>
<p class="text-center">
  <br />{{'index.resume'|translate}}<br />
  <br />
</p>
</div>
<div class="row articles">
  <div class="col-sm-6 col-md-4 item">

    <a href="#"></a><img src="assets/images/index/creation-min.jpeg"
                         style="width: 350px;" alt="creation" />
    <h3 class="name">
      <br />{{'index.creation_titre'|translate}}<br />
    </h3>
    <p class="description">
      <br />{{'index.creation_description'|translate}}<br />
    </p>
  </div>
  <div class="col-sm-6 col-md-4 item">
    <a href="#"></a><img src="assets/images/index/edition-min.jpg"
                         style="width: 350px;" alt="edition" />
    <h3 class="name">
      <br />{{'index.edition_titre'|translate}}<br />
    </h3>
    <p class="description">
      <br />{{'index.edition_description'|translate}}<br />
    </p>
  </div>
  <div class="col-sm-6 col-md-4 item">
    <a href="#"></a><img src="assets/images/index/sharing-min.jpg"
                         style="width: 350px;" alt="partage" />
    <h3 class="name">
      <br />{{'index.gestion_titre'|translate}}<br />
    </h3>
    <p class="description">
      <br />{{'index.gestion_description'|translate}}<br />
    </p>
  </div>
</div>
</div>
</div>
