<!DOCTYPE html>
<html lang="fr">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

<title>Projet ODL - Bienvenue</title>
<base href="." />
<script type="text/javascript" src="resources/lib/angular/angular.js"></script>
<script type="text/javascript" src="resources/lib/angular/angular-route.min.js"></script>
<script type="text/javascript" src="resources/lib/angular/angular-resource.min.js"></script>



<script type="text/javascript"
	src="resources/lib/angular/angular-animate.js"></script>
<script type="text/javascript"
	src="resources/lib/angular/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script type="text/javascript"
	src="resources/lib/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript"
	src="resources/lib/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="resources/js/controllers/login.js"
	charset="utf-8"></script>
	
<script src='https://www.google.com/recaptcha/api.js'></script>

<link href="resources/css/bootstrap/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link href="resources/css/Accueil_CSS.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" href="resources/lib/fontawesome/css/all.css" />
</head>

<body  ng-app="indexApp">

	<!-- insertion widget barre menu-->
	<div ng-include="'resources/widgets/barremenu.html'"></div>

	<!-- insertion widget d'inscription-->
	<div ng-include="'resources/widgets/inscription.html'"></div>
	
	<div id="main">  
        <!-- insertion du contenu du menu -->
        <div id=#routedContent ng-view class="view-animate"></div>
        
    </div>	
	<!-- insertion du footer version-->
	<div ng-include="'resources/widgets/footerversion.html'"></div>

	
</body>
</html>