<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" name="viewport"
	content="width=device-width, initial-scale=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Projet ODL - Bienvenue</title>
<base href="." />
<script type="text/javascript" src="resources/lib/angular/angular.js"></script>

<script type="text/javascript"
	src="resources/lib/angular/angular-animate.js"></script>
<script type="text/javascript"
	src="resources/lib/angular/ui-bootstrap-tpls-2.5.0.min.js"></script>

<script type="text/javascript"
	src="resources/lib/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript"
	src="resources/lib/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="resources/js/controllers/login.js"
	charset="utf-8"></script>

<link href="resources/css/bootstrap/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link href="resources/css/Accueil_CSS.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" href="resources/lib/fontawesome/css/all.css" />
</head>

<body ng-app="indexApp">

	<!-- insertion widget barre menu-->
	<div ng-include="'resources/widgets/barremenu.html'"></div>

	<!-- insertion widget d'inscription-->
	<div ng-include="'resources/widgets/inscription.html'"></div>



	<div class="article-list">
		<div class="container">
			<div class="intro">
				<h2 class="text-center">Bienvenue</h2>
				<p class="text-center">
					<br /> Créez, Éditez, Partagez vos Bibliothèques Multimédia<br />
					<br />
				</p>
			</div>
			<div class="row articles">
				<div class="col-sm-6 col-md-4 item">
					<a href="#"></a><img src="resources/img/creation-min.jpeg"
						style="width: 350px;" alt="creation" />
					<h3 class="name">
						<br /> Création<br />
					</h3>
					<p class="description">
						<br /> Créer une nouvelle bibliothèque<br />
					</p>
				</div>
				<div class="col-sm-6 col-md-4 item">
					<a href="#"></a><img src="resources/img/edition-min.jpg"
						style="width: 350px;" alt="edition" />
					<h3 class="name">
						<br /> Édition<br />
					</h3>
					<p class="description">
						<br /> Éditer une de vos bibliothèques<br />
					</p>
				</div>
				<div class="col-sm-6 col-md-4 item">
					<a href="#"></a><img src="resources/img/sharing-min.jpg"
						style="width: 350px;" alt="partage" />
					<h3 class="name">
						<br /> Gestion<br />
					</h3>
					<p class="description">
						<br /> Gérer vos bibliothèques, avis, fiches, prêts...<br />
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-basic">
		<footer>
		<p class="copyright">Projet ODL 2018 _ V.0.0.6 - SNAPSHOT</p>
		</footer>
	</div>
</body>
</html>