.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: rgba(28,28,32,0.81) !important;
}
.navbar-nav.mr-auto .nav-item .nav-link {
	color: rgba(255,255,255,1.00);
}

.navbar-toggler{
	background-color: rgba(255,255,255,1.00)!important;
}

.titremenu {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
}

.navbar-nav.mr-auto .nav-item{
	padding-left: 20px;
	padding-right: 20px;
	border-right: thin solid rgba(255,255,255,1.00);
}

.navbar-nav.mr-auto .nav-item:not(:last-child){
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-nav.mr-auto .nav-item:hover{
	background-color: rgba(40,27,226,0.81);
	border-radius: 4px;
}
#navbarSupportedContent .navbar-nav.navbar-right .nav-item {
	padding-right: 20px;
}
#navbarSupportedContent .navbar-nav.navbar-right .dropdown.order-1 {
	color: rgba(255,255,255,1.00)!important;	
}
#dropdownMenu1{
	color: rgba(251,246,246,1.00);
	
}
#formcon{
	
	-webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.49);
	box-shadow: 10px 10px 10px rgba(0,0,0,0.49);
}

#dropdownMenu1:hover{
	background-color: rgba(40,27,226,0.81);
	
}
#inscription:focus{
	background-color: rgba(5,163,35,1.00);
	border-color: rgba(5,163,35,1.00);
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
}
#inscription:hover{
	background-color: rgba(5,163,35,1.00);
	border-color: rgba(5,163,35,1.00);
}
#inscription{
	background-color: rgba(25,202,11,1.00);
	border-color: rgba(25,202,11,1.00);
}
#footerAccueil{
	text-align: center;
	font-size: 15px
}
